*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root{
  --background-color: #242526;
  --hover-color: #555;
  --font-color: #ffffff;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* navbar */

nav{
  position:sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  top: 0px;
  min-width: 100vw;
  height: 60px;
  background-color: var(--background-color);
  box-shadow: 0px 1px  1px #555;
}

nav a{
  text-decoration: none;
  color: var(--font-color);
}

.search{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 40px;
  padding: 5px;
  border: 1px solid #555;
  border-radius: 40px;
}

.search input{
  width: 100%;
  border: none;
  border-radius: 30px;
  padding: 8px 30px;
  color: var(--font-color);
  font-size: 1rem;
  background-color: var(--background-color);
}

.search input:focus{
  border: none;
  outline: none;
}

.search i{
  position: absolute;
  left: 10px;
  font-size: 1rem;
  color: var(--font-color);
}

nav .site-name a{
  font-size: 30px;
  font-weight:bolder;
}

.right-side{
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}

.right-side .others{
  padding: 10px;
  background-color: #555;
  border-radius: 50px;
  text-decoration: none;
  color: var(--font-color);
  font-size: 1rem;
}

.right-side a > i{
  font-size: 1.5rem;
}

.right-side .others:hover{
  background-color: #888;
}

.right-side a > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* left icon side  */
.left-icons{
  position:fixed;
  top: 61px;
  left: 0px;
  bottom: 0px;
  width: 300px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 10px;
  background-color: var(--background-color);
}

.left-icons .icons{
  padding:10px;
  border-radius: 10px;
}

.left-icons .icons a .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8%;
  height: 100%;
}

.left-icons .icons > a{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: var(--font-color);
}

.icons a .icon > i{
  font-size: 0.75rem;
}

.left-icons .profile a .icon > img{
  width: 1.5rem;
  border-radius: 50%;
}

.left-icons .groups a .icon > img, .left-icons .pages a .icon > img{
  width: 2rem;
  border-radius: 5px;
  object-fit: cover;
}

.left-icons .groups, .left-icons .pages{
  padding: 10px;
  border-radius: 10px;
}

.left-icons .groups:hover{
  background-color: var(--hover-color);
}

.left-icons .groups a{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--font-color);
}


.left-icons .groups a > div{
  position: relative;
}
.left-icons .groups a div > span{
  position:absolute;
  top: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: blue;
}



.left-icons .icons:hover{
  background-color: var(--hover-color);
}

/* main  */

.main-container{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.main{
  width: 40%;
  min-height: 200vh;
  background-color: var(--background-color); 
 }

/* friends  */

.friends{
  width: 300px;
  height: 100vh;
  position: fixed;
  right: 0px;
  top: 61px;
  background-color: var(--background-color);
}

