*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root{
  --background-color: #18191A;
  --hover-color: #555;
  --font-color: #ffffff;
   --nav-background: #242526;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body{
  background-color: var(--background-color);
}

/* navbar */

nav{
  position:sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  top: 0px;
  width: 100%;
  height: 60px;
  background-color: var(--nav-background);
  box-shadow: 0px 1px  1px #555;
  z-index: 3;
}

nav a{
  text-decoration: none;
  color: var(--font-color);
}

.search{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 40px;
  padding: 5px;
  border: 1px solid #555;
  border-radius: 40px;
}

.search input{
  width: 100%;
  border: none;
  border-radius: 30px;
  padding: 8px 30px;
  color: var(--font-color);
  font-size: 1rem;
  background-color: var(--background-color);
}

.search input:focus{
  border: none;
  outline: none;
}

.search i{
  position: absolute;
  left: 10px;
  font-size: 1rem;
  color: var(--font-color);
}

nav .site-name a{
  font-size: 30px;
  font-weight:bolder;
}

.right-side{
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}

.right-side .others{
  padding: 10px;
  background-color: #555;
  border-radius: 50px;
  text-decoration: none;
  color: var(--font-color);
  font-size: 1rem;
}

.right-side a > i{
  font-size: 1.5rem;
}

.right-side .others:hover{
  background-color: #888;
}

.right-side a > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* left icon side  */
.left-icons{
  position:fixed;
  top: 61px;
  left: 0px;
  bottom: 0px;
  width: 300px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 10px;
  background-color: var(--background-color);
}

.left-icons .icons{
  padding:10px;
  border-radius: 10px;
}

.left-icons .icons a .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8%;
  height: 100%;
}

.left-icons .icons > a{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: var(--font-color);
}

.icons a .icon > i{
  font-size: 0.75rem;
}

.left-icons .profile a .icon > img{
  width: 1.5rem;
  border-radius: 50%;
}

.left-icons .groups a .icon > img, .left-icons .pages a .icon > img{
  width: 2rem;
  border-radius: 5px;
  object-fit: cover;
}

.left-icons .groups, .left-icons .pages{
  padding: 10px;
  border-radius: 10px;
}

.left-icons .groups:hover{
  background-color: var(--hover-color);
}

.left-icons .groups a , .left-icons .pages a{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--font-color);
}


.left-icons .groups a > div{
  position: relative;
}
.left-icons .groups a div > span{
  position:absolute;
  top: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: blue;
}



.left-icons .icons:hover{
  background-color: var(--hover-color);
}

/* main  */

.main-container{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.main{
  width: 40%;
  min-height: 200vh;
  background-color: var(--background-color);
 }

 .main .my-days{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-evenly;
  margin-top: 10px;
 }

 /* my myday  */
 .my-days .my-myday{
  position: relative;
  width: 150px;
  height: 250px;
  border-radius: 10px;
  background-color: var(--nav-background);
  overflow: hidden;
 }

 .my-myday a{
  text-decoration: none;
  color: var(--font-color);
 }

 .my-myday-profile{
  position: relative;
  width: 100%;
  height: 190px;
  overflow: hidden;
  display: inline-block;
 }

 .my-myday-profile > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s linear;
 }

 .my-myday a:hover .my-myday-profile > img{
  transform: scale(1.02);
 }

.my-myday a .add-logo{
  position: absolute;
  top: 170px;
  left: 55px;
  width: 40px;
  height: 40px;
  background-color: blue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--background-color);
}

.my-myday a .add-logo i{
  font-size: large;
}

.my-myday a .name{
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 15px;
}

/* other myday  */

.other-myday{
  position: relative;
  width: 150px;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
}

.other-myday .other-profile{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  border: 5px solid var(--background-color);
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}

.other-profile > img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.other-profile > span{
  position: absolute;
  top: -5px;
  right: 0px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: aqua;
  z-index: 2;
}

.other-myday .myday-photo{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: inline-block;
  z-index: -1;
}

.other-myday .myday-photo > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s linear;
}

.other-myday a:hover .myday-photo img{
  transform: scale(1.02);
}

.other-myday a .name{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.other-myday a .name > p{
  color: var(--font-color);
}


/* friends  */

.friends-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  height: 100vh;
  position: fixed;
  right: 0px;
  top: 61px;
  bottom: 0px;
  overflow-y: auto;
  background-color: var(--background-color);
  transition: 0.5s;
}

.friends-container > h1{
  padding:5px 10px;
  font-size: larger;
  color: var(--font-color);
}

.friends-container:hover{
  overflow-x: hidden;
  overflow-y: scroll;
}

.friends-container .ads{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.friends-container .ads .ad{
  padding: 10px;
  border-radius: 10px;
}

.friends-container .ads .ad:hover{
  background-color: var(--hover-color);
}

.friends-container .ads .ad > a{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.ads .ad a > img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.ads .ad a > .ad-text{
  display: flex;
  flex-direction: column;
}

.ads .ad a .ad-text .title{
  font-size: large;
}

.ads .ad a .ad-text .domain{
  font-size: small;
}

.friends-container .ads .ad > a{
  text-decoration: none;
  color: var(--font-color);
}

.friends-container .pages-profiles{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pages-profiles .row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.pages-profiles .row > h2{
  font-size: large;
  color: var(--font-color);
}

.pages-profiles .row .row-icon{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.pages-profiles .row .row-icon > a{
  text-decoration: none;
  color: var(--font-color);
  border-radius: 50%;
}

.pages-profiles .row .row-icon > a:hover{
  background-color: var(--hover-color);
}

.pages-profiles .row .row-icon a > i {
  padding: 5px;
}

.friends-container .friends .friend{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.friends-container .friends .friend:hover{
  background-color: var(--hover-color);
}

.friends .friend > a{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--font-color);
}

.friends .friend a > img{
  width: 2rem;
  object-fit: cover;
  border-radius: 50%;
}
